.buttonCont {
  width: 345px;
  display: flex;
  column-gap: 6px;
}

.button {
  height: 32px;
  border: none;
  font-size: 12px;
  font-weight: 500;
  border-radius: 6px;
}

.butOne {
  width: 38px;
}

.butTwo {
  width: 60px;
}

.butThree {
  width: 87px;
}
