.Form {
  display: flex;
  column-gap: 6px;
}

.addButton {
  width: 59px;
  height: 40px;
  border: none;
  font-size: 14px;
  color: #f9f9f9;
  border-radius: 6px;
  background-color: #3c82f6;
}

.inputCont {
  width: 280px;
  border-radius: 6px;
  padding-left: 10px;
  border: 1px solid #e4e4e7;
}

.inputCont:focus {
  outline: none;
  border: 2px solid #3498db;
}
